.container {
    width: min(80ch, 100vw - var(--step-4));
    margin-inline: auto;
}

.stock-table {
    width: 100%;
    vertical-align: middle;
}

.stock-table > tbody tr {
    cursor: pointer;
}

.stock-table td, .stock-table th {
    padding: var(--step--2);
    border-top: 1px solid var(--color-gray-300);
}

.stock-table > thead th {
    vertical-align: baseline;
    border-bottom: 1px solid var(--color-gray-300);
}

.text-success {
    color: var(--color-green-500);
}

.text-danger {
    color: var(--color-red-500);
}

.dropdown {
    position: relative;
    margin: var(--step-0) 0;
}

.dropdown input {
    width: 100%;
}

.dropdown-menu {
    position: absolute;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    background-color: #1a1a1a;
    transition: border-color 0.25s;

    list-style: none;

    overflow-y: auto;
    overflow-x: hidden;
    max-height: calc(var(--step-5) * 10);
}
.dropdown-menu:hover {
    border-color: #646cff;
}

.dropdown-menu:not(.show) {
    display: none;
}
.dropdown-menu > li:hover {
    background-color: #2a2a2a;
}

.stock-chart {
    margin: var(--step-2) 0;
}

.stock-chart__controls {
    display: flex;
    justify-content: flex-start;
    gap: var(--step-0);
}

.stock-chart__controls .active {
    outline: 4px auto -webkit-focus-ring-color;
}

.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: auto;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

.apexcharts-title-text {
    font-size: var(--step-1);
    font-weight: 600;
    font-family: var(--font) !important;
}

@media (prefers-color-scheme: dark) {
    .apexcharts-menu, .apexcharts-tooltip, .apexcharts-tooltip-title {
        background-color: var(--color-dark) !important;
        color: var(--color-lighter);
    }
}
